.dataTable {
  //   margin-left: 20px;
  .dataGrid {
    background: white;
    color: #222b3c;
    padding: 20px;

    .MuiDataGrid-toolbarContainer {
      flex-direction: row-reverse;

      .MuiButtonBase-root {
        color: #222b3c;
      }
    }
    img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      object-fit: cover;
    }
    .action {
      display: flex;
      gap: 15px;
    }
    img {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
  }
}
